<br>
<br>
<br>
<br>
<section>
  <div class="block no-padding  gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="inner2">
            <div class="inner-title2">
              <h3>Comment ça fonctionne</h3>
              <span>Obtenez une visite numérique de la façon dont CVTest fonctionne pour vous.</span>
            </div>
            <div class="page-breacrumbs">
              <ul class="breadcrumbs">
                <li><a href="#" title="">Acceuil</a></li>
                <li><a href="#" title="">Pages</a></li>
                <li><a href="#" title="">Comment ça fonctionne</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="block ">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="how-works">
            <div class="how-workimg"><img src="../../assets/images/resource/hw1.jpg" alt="" /></div>
            <div class="how-work-detail">
              <div  class="how-work-box">
                <span>1</span>
                <i class="la la-user"></i>
                <h3>Enregistrez un compte</h3>
                <p>Dans CVTest le recrutement en ligne leader et le plus ancien en Tunisie. Nous comprenons que les demandeurs d’emploi viennent chez nous non seulement pour un travail, mais pour une opportunité de réaliser leur professionnel.</p>
              </div>
            </div>
          </div>
          <div class="how-works flip">
            <div class="how-workimg"><img src="../../assets/images/resource/hw2.jpg" alt="" /></div>
            <div class="how-work-detail">
              <div class="how-work-box">
                <span>2</span>
                <i class="la la-file-text"></i>
                <h3>Spécifiez et recherchez votre convenable  candidat</h3>
                Vous recevrez des candidatures. Vous pouvez également en tant que Entreprises gérer les offres  à partir de votre tableau de bord Indeed. Examinez les candidatures et consultez les profils de candidats recommandés à partir d'un seul endroit </div>
            </div>
          </div>
          <div class="how-works">
            <div class="how-workimg"><img src="../../assets/images/resource/hw3.jpg" alt="" /></div>
            <div class="how-work-detail">
              <div class="how-work-box">
                <span>3</span>
                <i class="la la-pencil"></i>
                <h3>Postuler pour un travail</h3>
                <p>Dans CVTest le recrutement en ligne leader et le plus ancien en Tunisie. Nous comprenons que les demandeurs d'emploi viennent chez nous non seulement pour un travail, mais aussi pour une opportunité de réaliser leur métier..</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


