<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container" style="position: center " >
  <div class="row">

    <div class="col-md-3 col-sm-6" style="margin-left: 37%">
      <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
        <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
        <div class="progress-value">{{resultat}}%</div>
      </div>
    </div>
  </div>
</div>
<br>s
<br>
<br>
<br>
<br>
<br>
<br>
<br>
